<div class="recipe-list" ng-repeat="recipe in recipes">
  <div class="card mb-3" style="max-width: 540px">
    <div class="row g-0">
      <div class="col-md-4">
        <img
          ng-src="{{recipe.recipe.image}}"
          class="img-fluid rounded-start"
          style="height: 200px; width: 200px"
          alt="..."
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">
            <a
              href="#!/detail/{{recipe._links.self.href.split('/')[6].split('?')[0]}}"
              >{{recipe.recipe.label}}</a
            >
          </h5>
          <p class="card-text">
            <strong> Meal Type: {{recipe.recipe.mealType[0]}} </strong>
          </p>
          <p class="card-text">
            <strong> Cuisine: {{recipe.recipe.cuisineType[0]}} </strong>
          </p>
          <p class="card-text">
            <strong> Dish Type : {{recipe.recipe.dishType[0]}} </strong>
          </p>
          <p class="card-text">
            <strong>
              Calories: {{recipe.recipe.calories | number:2}} Kcal
            </strong>
          </p>
          <p class="card-text">
            <strong> Source: {{recipe.recipe.source}} </strong>
          </p>

          <button
            class="btn btn-primary btn-sm"
            ng-click="removeFromFavorate(recipe.id)"
          >
            remove
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
