<h1>Detail</h1>

<div class="container">
  <div class="card" style="width: 18rem">
    <img src="{{recipe.image}}" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">{{recipe.label}}</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
    </div>
    <p class="card-text">
      <strong>Cuisine: {{recipe.cuisineType[0]}} </strong>
    </p>
    <p class="card-text"><strong>Dish: {{recipe.dishType[0]}} </strong></p>
    <p class="card-text">
      <strong>Calories: {{recipe.calories}} kcal </strong>
    </p>
    <p class="card-text"><strong>Source: {{recipe.source}} </strong></p>
  </div>
</div>

<button ng-click="addToFavorate(recipe)">Add to Favorate</button>
